[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Root
Comment=
Exec=sudo xfce4-terminal
Icon=terminator
Path=
Terminal=false
StartupNotify=false
