[Desktop Entry]
Type=Action
Name=Terminal Root
Tooltip=Terminal Root
Icon=terminal
Profiles=on_folder;

[X-Action-Profile on_folder]
Name=Terminal Root
MimeTypes=inode/directory;
Exec=sudo xfce4-terminal
