[Desktop Entry]
Version=1.0
Type=Application
Name=Gestionnaire de fichiers PCManFM
Comment=
Exec=pcmanfm %U
Icon=system-file-manager
Path=
Terminal=false
StartupNotify=true
